.tab--section {
    margin: 0;
    max-width: auto;
    width: 100%;
}

.tab--section--container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #bbb;
}

.tab--section--container ul {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 25px;
    height: 5px;
    background: #888;
    border-radius: 10px;
}

.tab--section--container li  {
    position: relative;
    padding: 0px 20px;
    height: 60px;
    line-height: 50px;
    z-index: 2;
    cursor: pointer;
    color: #222;
    font-weight: 600;
    list-style: none;
}

