/* Global CSS */

body {
  margin: 0;
  font-family: "Roboto", "sans-serif";
  -webkit-font-smoothing: "Roboto", "sans-serif";
  -moz-osx-font-smoothing: "Roboto", "sans-serif";
  font-style: normal;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}

/* Global CSS Ends */
/* Main Headings */

/* Heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

/* Heading 3 */
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* Section Titles */
/* Experience & About Me */
.section--title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
/* Section Titles Ends */